In [72]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [73]:
url ="https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv"
df = pd.read_csv(url)
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [74]:
df=df.iloc[:,2:]

In [75]:
df.sample(5)

     review education purchased
28     Poor    School        No
35     Poor    School       Yes
37  Average        PG       Yes
30  Average        UG        No
6      Good    School        No

In [76]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [77]:
x_tr

     review education
27     Poor        PG
0   Average    School
20  Average    School
5   Average    School
10     Good        UG
11     Good        UG
34  Average    School
31     Poor    School
19     Poor        PG
3      Good        PG
39     Poor        PG
41     Good        PG
9      Good        UG
42     Good        PG
6      Good    School
44  Average        UG
2      Good        PG
47     Good        PG
28     Poor    School
7      Poor    School
32  Average        UG
29  Average        UG
13  Average    School
12     Poor    School
49     Good        UG
21  Average        PG
45     Poor        PG
46     Poor        PG
24  Average        PG
1      Poor        UG
17     Poor        UG
18     Good    School
25     Good    School
38     Good    School
33     Good        PG
4   Average        UG
40     Good    School
37  Average        PG
16     Poor        UG
26     Poor        PG

In [78]:
x_te

     review education
36     Good        UG
15     Poor        UG
23     Good    School
43     Poor        PG
8   Average        UG
14     Poor        PG
48     Good        UG
35     Poor    School
30  Average        UG
22     Poor        PG

In [79]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(x_tr)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [80]:
oe.fit(x_tr)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [81]:
x_tr = oe.transform(x_tr)

In [82]:
x_tr

array([[0., 2.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [1., 0.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [0., 2.],
       [1., 2.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [1., 2.],
       [0., 1.],
       [0., 2.]])

In [83]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [84]:
#for output coloums only use label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [85]:
le.fit(y_tr)

LabelEncoder()

In [86]:
y_tr=le.transform(y_tr)

In [87]:
y_tr

array([0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0])