In [1]:
import pandas as pd

In [6]:
time=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day34-handling-date-and-time/messages.csv')
date=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day34-handling-date-and-time/orders.csv')

In [7]:
date

           date  product_id  city_id  orders
0    2019-12-10        5628       25       3
1    2018-08-15        3646       14     157
2    2018-10-23        1859       25       1
3    2019-08-17        7292       25       1
4    2019-01-06        4344       25       3
..          ...         ...      ...     ...
995  2018-10-08         255       13       1
996  2018-12-06        5521        7       1
997  2019-05-07         487       26      14
998  2019-03-03        1503       21       2
999  2019-10-15        6371        7      22

[1000 rows x 4 columns]

In [8]:
time

                    date                                                msg
0    2013-12-15 00:50:00                           ищу на сегодня мужика 37
1    2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2    2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3    2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4    2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
..                   ...                                                ...
995  2012-03-16 00:50:00     ПАРЕНЬ СДЕЛАЕТ  МАССАЖ ЖЕНЩИНАМ -066-877-32-44
996  2014-01-23 23:14:00            сельский п 23 ищу девушку для отношений
997  2012-10-15 23:37:00  Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...
998  2012-06-21 23:34:00  7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14
999  2014-06-19 23:25:00          Парень поласкает девушке...  т.0662035584

[1000 rows x 2 columns]

In [9]:
date.info()#date is object we cant extract anything

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [10]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [11]:
#date time function
date['date']=pd.to_datetime(date['date'])

In [12]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [13]:
#now it is date time varaible

In [14]:
#1)extract year
date['date-year']=date['date'].dt.year

In [15]:
date.head()

        date  product_id  city_id  orders  date-year
0 2019-12-10        5628       25       3       2019
1 2018-08-15        3646       14     157       2018
2 2018-10-23        1859       25       1       2018
3 2019-08-17        7292       25       1       2019
4 2019-01-06        4344       25       3       2019

In [16]:
#2)extract month
date['date-month']=date['date'].dt.month

In [17]:
date.sample()

          date  product_id  city_id  orders  date-year  date-month
899 2019-07-12        3247        0       3       2019           7

In [30]:
date['date-month']=date['date'].dt.month_name()

In [31]:
date.sample()

          date  product_id  city_id  orders  date-year date-month date-day
305 2019-07-05          25       18       1       2019       July   Friday

In [32]:
#3)extract days
date['date-day']=date['date'].dt.day

In [33]:
date.sample()

          date  product_id  city_id  orders  date-year date-month  date-day
324 2018-12-14        1238       13       7       2018   December        14

In [34]:
date['date-day']=date['date'].dt.day_name()

In [35]:
date.sample()

          date  product_id  city_id  orders  date-year date-month   date-day
363 2019-01-09        6860       26       1       2019    January  Wednesday

In [36]:
#time betwn two days
import datetime
today=datetime.datetime.today()

In [37]:
today

datetime.datetime(2023, 3, 3, 14, 7, 11, 906652)

In [39]:
date['from today']=today-date['date']

In [40]:
date.sample()

,date,product_id,city_id,orders,date-year,date-month,date-day,from today
322,2019-06-23,652,25,5,2019,June,Sunday,1349 days 14:07:11.906652

In [41]:
#time
time.sample()

                    date                                                msg
753  2015-01-26 00:09:00  Кто хочет расслабиться с М с Запорожья женщины...

In [51]:
time=time.drop(columns=['msg'])

In [52]:
time.sample()

                    date
662  2012-02-14 14:20:00

In [53]:
time['date']=pd.to_datetime(time['date'])

In [54]:
time.sample()

                   date
849 2014-08-18 01:17:00

In [57]:
time['Hour']=time['date'].dt.hour
time['minutes']=time['date'].dt.minute
time['second']=time['date'].dt.second

In [58]:
time.sample()

                   date  Hour  minutes  second
170 2014-04-25 00:24:00     0       24       0